:root{
  --dark: #777;
  --black: #333;
  --blue:#131950;
  --white: #ccc;
  --orange:#d45a29;
}
*, **before, **::after{box-sizing: border-box;}
html, body{margin:0}
.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  font-size: 1.2rem;
  width: 100%; height: auto;
}
.header{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; height: 10vh;
  background: var(--dark);
  color: var(--black);
}
.link{
  text-decoration: none;
  color: inherit;
  font-size: 2rem;
}
#form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: max-content;
}
#description,#education, .education,#experience, .experience{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%
}
#experience, #education{
  display: flex; flex-direction: column;
  width: 100%;
}

#form label{
  display: flex;
  border-radius: 5px;
  width: 80%; height: 1.8rem;
  border: 1px solid var(--dark);
  cursor: pointer;
  margin: .5rem 0;
}
#description .label.description{ height: 2.8rem;}
.input{
  width: 100%; height: 100%;
  margin: 0;
  background: transparent;
  border: none;
  outline: none;
}
.input.photo{display: none;}

.label.photo{
  color: var(--dark);
  font-size: .9rem;
  align-items: center;
}
.ProfileImg{
  width: 10rem; height: 10rem;
  border-radius: 200px;
}
#Cv-form{
  box-sizing: border-box;
  display: flex; padding: 1rem;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%; height: 100vh;
  background: var(--dark);
  color: var(--white);
}
.Cv{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 60%; height: 100%;
  background: var(--orange);
  text-align: left;
  padding: 1rem;
}
.Cv > section{width: 100%;}
.Cv.Title{height: 10rem}
.Cv.Personal{
  width: 30%;
  background: var(--blue);
}
h1, h2, h3{margin: 0;}
.Cv > h1{font-size: 1.9rem;}
.duration{font-weight: bolder;}
ion-icon{
  height: 1rem;
}